<% unless @registrations.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5><%= 'Registrations' + " (" + @registrations.size.to_s + ")"%></h5>
    <ul class="side-nav">
      <% @registrations.each do |registration| %>
        <li><%=  link_to registration.student.name, student_path(registration.student) %></li>
        <% if registration.student.rating != 0 %>
          <li><%= "Rating: " + registration.student.rating.to_s %></li>
        <% else %>
          <li><%= "Unrated" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% if can? :manage, Registration %>
    <%= link_to 'Add a registration', new_registration_path, class: "button tiny radius"%>
  <% end %>
  


<% else %>
  <div class="panel clearfix">
    <h5>No Registrations</h5>
  </div>
  <% if can? :manage, Registration %>
    <%= link_to 'Add a registration', new_registration_path, class: "button tiny radius"%>
  <% end %>
<% end %>