  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="has-dropdown">
            <%= link_to image_tag('navicon.png', size: '45x45'), home_path %>
            <ul class="dropdown">
              <% if logged_in? %>
                <li><%= link_to "Welcome #{current_user.instructor.first_name}", current_user.instructor %></li>
                <li><%= link_to "Edit My Profile", current_user.instructor %></li>
                <li><%= link_to "Logout" , logout_path%></li>
              <% end %>
            </ul>
          </li>

          <!-- options for curriculums -->
          <% if can? :read, Curriculum %>
            <li class="has-dropdown">
              <%= link_to "Curriculums", curriculums_path %>
              <ul class="dropdown">
                <li><%= link_to "All Curriculums", curriculums_path %></li>
                <% if can? :create, Curriculum %>
                  <li><%= link_to "Add a Curriculum", new_curriculum_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <!-- options for camps -->
          <li class="has-dropdown">
            <%= link_to "Camps", camps_path %>
            <ul class="dropdown">
              <li><%= link_to "All Camps", camps_path %></li>
              <% if can? :create, Camp %>
                <li><%= link_to "Add a Camp", new_camp_path %></li>
              <% end %>
            </ul>
          </li>

          <!-- options for instructors -->
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructors", instructors_path %>
            <ul class="dropdown">
              <li><%= link_to "All Instructors", instructors_path %></li>
              <% if can? :create, Instructor %>
                <li><%= link_to "Add an Instructor", new_instructor_path %></li>
              <% end %>
            </ul>
          </li>
          <!-- options for locations -->
          <% if can? :read, Location %>
            <li class="has-dropdown">
              <!-- <a href="#">Instructors</a> -->
              <%= link_to "Locations", locations_path %>
              <ul class="dropdown">
                <li><%= link_to "All Locations", locations_path %></li>
                <% if can? :create, Location %>
                  <li><%= link_to "Add a Location", new_location_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <!-- options for families -->
          <% if can? :read, Family %>
            <li class="has-dropdown">
              <!-- <a href="#">Instructors</a> -->
              <%= link_to "Families", families_path %>
              <ul class="dropdown">
                <li><%= link_to "All Families", families_path %></li>
                <% if can? :create, Family %>
                <li><%= link_to "Add a Family", new_family_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <!-- options for students -->
          <% if can? :read, Student %>
            <li class="has-dropdown">
              <!-- <a href="#">Instructors</a> -->
              <%= link_to "Students", students_path %>
              <ul class="dropdown">
                <li><%= link_to "All Students", students_path %></li>
                <% if can? :create, Student %>
                <li><%= link_to "Add a Student", new_student_path %></li>
                <% end %>
                <% if can? :manage, Registration %>
                <li><%= link_to 'Add a Registration', new_registration_path%>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if !logged_in? %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
      </section>
    </nav>
  </div>