<div class="row">
	<div class="panel clearfix">
		<ul class="inline-list">
			<li><%= "Welcome #{@instructor.proper_name}" %></li>
			<li><%= link_to "Create a Registration", new_registration_path %></li>
			<li><%= link_to "Generate Reports", reports_path %></li>
			<li><%= link_to 'Add Camp', new_camp_path %></li> 
			<li><%= link_to 'Add Instructor', new_instructor_path %></li>
			<li><%= link_to 'Edit my information', edit_instructor_path(@instructor) %></li>

		</ul>
	</div>
</div>