<div class="row">
    <div class="large-4 columns">
      <% if !@instructor.picture_url.nil? %>
        <%= image_tag(@instructor.picture_url, size: "300x360") %>
      <% else %>
        <%= link_to image_tag('icon1SetPic.jpg', size: "300x360"), edit_instructor_path(@instructor) %>
      <% end %>
      <h3><%= @instructor.proper_name %></h3>
      <h4> Quick Links </h4>
      <ul>
        <li><%= link_to 'Edit my information', edit_instructor_path(@instructor) %></li>
        <li><%= link_to 'View Camps', camps_path %></li>
        <li><%= mail_to("profh@cmu.edu", "Email Alex", encode: "javascript") %></li>
        <li><%= mail_to("profh@cmu.edu", "Email Mark", encode: "javascript") %></li>
      </ul>
    </div>
    
    <div class="large-8 columns">
      <%=  column_chart @camp_to_registration,  library: {backgroundColor: "#E6E6E6", colors: ['42ffe3']} %>
      <h4>Your Information</h4>
      <ul>
        <li><%= "Username: " + current_user.username %></li>
        <li><%= "Email: " + @instructor.email %></li>
        <li><%= "Phone Number: " + number_to_phone(@instructor.phone) %></li>
      </ul>
    </div>  
    

  
</div>