<div class="row">
    <div class="large-4 columns">
      <% if !@instructor.picture_url.nil? %>
        <%= image_tag(@instructor.picture_url, size: "300x320") %>
      <% else %>
        <%= link_to image_tag('icon1SetPic.jpg', size: "300x320"), edit_instructor_path(@instructor) %>
      <% end %>
      <h3><%= @instructor.proper_name %></h3>
      <h4> Quick Links </h4>
      <ul>
        <li><%= link_to 'Edit my information', edit_instructor_path(@instructor) %></li>
        <li><%= link_to 'View Camps', camps_path %></li>
        <li><%= mail_to("profh@cmu.edu", "Email Alex", encode: "javascript") %></li>
        <li><%= mail_to("profh@cmu.edu", "Email Mark", encode: "javascript") %></li>
      </ul>
    </div>
    
    <div class="large-8 columns">
      <center><h4>Registrations For Your Upcoming Camps</h4></center>
      <%=  column_chart @camp_to_registration_instructor,  library: {backgroundColor: "#E6E6E6", colors: ['42ffe3']} %>
      <br>
      <br>
      <center>
        <div class="panel clearfix">
          <h4>Your Information</h4>
          <p><%= "Username: " + current_user.username %></p>
          <p><%= "Email: " + @instructor.email %></p>
          <p><%= "Phone Number: " + number_to_phone(@instructor.phone) %></p>
        </div>
    </center>
    </div>  
</div>