<div class="row">
	<div class="panel clearfix">
		<ul class="inline-list">
			<li><%= "Welcome #{@instructor.proper_name}" %></li>
			<li><%= link_to 'Edit my information', edit_instructor_path(@instructor) %></li>
			<li><%= link_to 'View Curriculums', curriculums_path %></li>
	        <li><%= link_to 'View Camps', camps_path %></li>
	        <li><%= mail_to("profh@cmu.edu", "Email Alex", encode: "javascript") %></li>
	        <li><%= mail_to("profh@cmu.edu", "Email Mark", encode: "javascript") %></li>

		</ul>
	</div>
</div>