<!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->

	<% if cannot? :update, Instructor %>
  		<p><%= image_tag('banner.jpg')%></p>
  	<% elsif can? :manage, :all,  %>
  		 <!-- Admin Dashboard -->
       <%= render partial: "admin_sidenav" %>
  		 <%= render partial: "admin_dashboard" %>
       <%= render partial: 'camp_finances' %> 
  	<% else %>
  		<!-- Instructor Dashboard  -->
      <%= render partial: 'instructor_sidenav' %>
  		<%= render partial: "instructor_dashboard"%>
  		<br>
  		<br>
  	<% end %>
    
  
  <!-- End Nav and Banner -->
  
  
  <!-- Main Content Section -->
  
  <% if cannot? :update, Instructor %>

    <div class="row">
    
      <div class="large-8 columns">
        <h4>What we do</h4>
        <p>Alex & Mark Heimann are two world-class UCSF Chess Masters. Together, they have decided to create a series of camps to help local youth hone their skills. The camps are open to various ages and skill levels and feature well-seasoned instructors who are skilled in the art of chess instruction.<p>
        <p>Feel free to browse our upcoming camp, instructors, and locations. We cater to children of all ages and offer camps throughout the Greater Pittsburgh Area. </p>
      </div>
      
      <div class="large-4 columns">
      
        <!-- Gallery d with a block grid. Note: block grid items should be the same size for optimal results -->
        
        <ul class="small-block-grid-3">
          <li><%= image_tag('AlexPlaying10.jpg')%></li>
          <li><%= image_tag('Kelsey1.jpg')%></li>
          <li><%= image_tag('chess-boy[2].jpg')%></li>
          <li><%= image_tag('icon1.png')%></li>
          <li><%= image_tag('icon2.png')%></li>
          <li><%= image_tag('icon3.png')%></li>
        </ul>
      </div>
          
    </div>
    
    
    <!-- Call to Action Panel -->
    <div class="row">
      <div class="large-12 columns">
      
        <div class="panel">
          <h4>Ready to register? Want to know more?</h4>
              
          <div class="row">
            <div class="large-9 columns">
              <p>Call or email Alex Heimann or Mark Heimann for more details.
              </p>
            </div>
            <div class="large-3 columns">
              <%= link_to "Contact Us!", contact_path, class: "radius button right" %>
            </div>
          </div>
        </div>
        
      </div>
  </div>

  <% end %>