<h3>Location Details</h3>

<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />



<strong>Apt. | Suite | Office Number:&nbsp;&nbsp;</strong> 
  <%= @location.street_2 %><br /><br />


<strong>City:&nbsp;&nbsp;</strong> 
  <%= @location.city + ", " + @location.state + " " + @location.zip %><br /><br />

<strong>Maximum Capacity&nbsp;&nbsp;</strong>
  <%= @location.max_capacity %><br /><br />

<strong>Map</strong><br />
  <%= image_tag @location.create_map_link %>
  

