<h3>Location Details</h3>

<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />


<% unless @location.street_2.nil? %>
	<strong>Apt. | Suite | Office Number:&nbsp;&nbsp;</strong> 
	  <%= @location.street_2 %><br /><br />
<% end %>


<strong>City:&nbsp;&nbsp;</strong> 
  <%= @location.city + ", " + @location.state + " " + @location.zip %><br /><br />

<strong>Maximum Capacity&nbsp;&nbsp;</strong>
  <%= @location.max_capacity %><br /><br />

<strong>Map</strong><br />
  

